body {
    background-image: url(../images/take-out.jpg);
    background-size: 100%;

    background-repeat: no-repeat;
    background-position: relative;
    margin-left: auto;
    margin-right: auto;
}

section {
    border: 1px white solid;
    width: 30%;
    text-align: center;
    background-color: rgba(250, 235, 215, 0.884);
    margin-top: 10%;
    margin-left: 35%;
    padding: 10px;
    display: block;
    font-size: 20px;
}

nav {
    background-color: rgba(250, 235, 215, 0.918);
    padding: 20px;
    text-align: center;
}

h3 {

}

.hidden {
    display: none;
}
